*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f5f7f7;
}

form {
  display:flex;
  flex-direction: column;
  width: 150px;
}

.container {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  grid-gap: 5px;
  text-align: center;
}
.container form{
  grid-column: 2;
  margin: 0 auto;
  font-size: 30px;
  width: 100%;
  font-weight: 200;
}

.container * {
  margin-top: 5px;
  margin-bottom: 5px;
}

.title {
  height: 100%;
  width: 100%;
  padding: 40px;
  border: 0 solid black;

  margin-bottom: 30px;
  background: #c3002f;
  color: white;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.5);
}

h1 {
text-align: center;
/* margin-top: 40px;
margin-bottom: 40px; */
font-size: 50px;
font-weight: 400;
}

select {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 70px;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 200;
  background: #fafbfb;
}

button {
  cursor: pointer;
  display: block;
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 200;
  background: #e8ebeb;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.3);
}

.del,
.calc {
  margin: 20px auto;
}

.del:active,
.calc:active {
  background: #a2a1a6;
  top: 1px;
  left: 1px;

}
label:active {
  background: transparent;
}

label {
  font-weight: 700;
  outline: none;
}



.values {
  font-weight: 700;
  color: #c3002f;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px;
  margin: 10px;
}

label,
select,
button {
  color: #363b39;
}

.totals {
  font-size: 25px;
  text-align: center;
  font-weight: 700;
}

.result {
  margin: 25px;
  padding: 25px;
  border-bottom: 1px solid #e0e0e0;
}

.partsDisplay {
  color: #c3002f;
  display: inline;
}

h6 {
  text-align: center;
  font-weight: 400;
  color: #bcbcbc;
  margin-bottom: 20px;
}

.scrollButton {
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: .5;
  outline: none;
}
.scrollButton:active {
  outline: none;
  opacity: 1;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
  position: relative;
  top: -3.5px;
    transform: rotate(45deg);
    transform: translate(200em);
    -webkit-transform: rotate(45deg);
}
.up {
  position: relative;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.hide {
  display: none;
}
